<!DOCTYPE html>
<html lang="en">
<head>
  <title>Index</title>
</head>
<body>
    <% include partials/_headers.ejs %>
    <h2>Details of the ShortURL </h2>
    ShortURL : <b>  <%= shortURL %> </b>
    <form method="POST" action="/urls/<%= shortURL %>">
      <input type="text" value= <%= fullURL %> name="longURL">
      <input type="Submit" value="Upate Long URL">
    </form>
    <% } %>
</body>
</html